/* Sign In Input Username and Password Styling */

input[type="text"],
input[type="password"] {
  width: 100%;
  margin: 0.2rem;
  background-color: white !important;
  color: navy !important;
}

.Navbar {
  background-color: black;
}

/* ImageLink Break fixes */
.lightning {
  /* border: 1px solid white; */
  padding-top: 0px;
  padding-bottom: 0px;
}

.registrationGreeting {
  /* border: 1px solid wheat; */
  margin-top: 2vh;
  margin-left: 2vw;
}

/* NavBar Sign In Button Styling */

.ui.button.signinButton {
  color: #61D1FF !important;
  background-color: #436fff !important;
  border: 5px solid #1e1ef5 !important;
  font-weight: bold !important;
  padding: 0.7rem !important;
  font-size: 0.9rem !important;
  margin: 0.2rem;
  margin-left: 0.5rem !important;
  text-decoration: none;
}

/* NavBar Register Button Styling */

.ui.button.registerButton {
  color: #61D1FF !important;
  background-color: #436fff !important;
  border: 5px solid #1e1ef5 !important;
  font-weight: bold !important;
  padding: 0.7rem !important;
  font-size: 0.9rem !important;
  margin: 0.2rem;
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
  text-decoration: none;
}

.ui.button.submit {
  margin-top: 2rem !important;
}

a {
  color: white !important;
  text-decoration: none;
}